/*---------------------------
        Header & Search
-----------------------------*/
header {
  background-color: #636363;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 150px;
  width: 100%;
}

.search-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 10px 0;
}

h1 {
  color: #F2F2F2;
  font-size: 48px;
  font-weight: 800;
  margin: 0 auto;
  margin-top: 10px;
}

.user-input {
  font-size: 16px;
  margin: 0 auto;
  padding-left: 5px;
  height: 30px;
  width: 250px;
}

/*---------------------------
      Card & Card Container
-----------------------------*/

.compare-data {
  background-image: url('../public/assets/hc.jpg');
  background-color: #BFBBBA;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 230px;
  width: 100%;
  margin: 0 auto;
  overflow: scroll;
}

.card-container {
  background-image: url('../public/assets/hc.jpg');
  background-color: #BFBBBA;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  overflow: scroll;
}

.data-card {
  background-color: #c9c7c7;
  border-radius: 3%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 320px;
  width: 230px;
  margin: 5px 0;
  padding-bottom: 2px;
}

/*---------------------------
      Card Data
-----------------------------*/

h3 {
  color: #565656;
  word-wrap: wrap;
  text-align: left;
  margin: 5px 5px 5px 37px;
}

li {
  list-style: none;
  text-align: left;
}

.year-data {
  margin: 3px 0;
}
